body
{
	font: 13px;
	font-family: 'Muli', sans-serif;

	}

#chat-meta
{
	top: 0px;
	width: 100%;
	right: 0px;
	left: 0px;
	bottom: 0px;
}


#chat-log
{
	
	margin: 0px;
	border: none;
	position: fixed;
	top: 30px;
	bottom: 0px;
	width: 100%;
	overflow-y: scroll;
	
}

#chat-log ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	height:100%;
	
}

#chat-log ul li
{
	padding: 0px 0px;
	}

#chat-log ul li.them-line
{
	/*background-color: #B3E9FF;*/
}

form
{
	/*background-color: #FFF;*/
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 0;
	height: 30px;
	border: none;
}

chat-form
{
	border:none;
}

form #chat-input
{
	border: 1px;
	padding: 10px;
	width: 85%;
	margin-right: .5%;
}

form button
{
	width: 12%;
	background-color: #B3E9FF;
	border: none;
	padding: 10px;
	font-family: 'Muli', sans-serif;
}

.chat-entry {
	border: 1px;
}

button #chat-start
{
	
}
.start-chatting {
	border:1px;
	background-color: #B3E9FF;
}
