body {
        background-image: url(http://www.netanimations.net/Animated-gif-stars-twinkling-in-night-sky.gif);
        background-repeat: repeat-x repeat-y;
        font: 30pt;
        font-family: 'Helvetica',sans-serif;
        animation: blur 1s ease-out infinite;
        text-shadow: 0 0 6px #fff,0 0 6px #fff;
}

@keyframes blur {
        from {
                text-shadow: 0 0 10px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #fff,0 0 20px #fff,0 0 20px #fff,0 0 20px #fff,0 0 20px #fff,0 0 45px #fff,0 0 45px #fff,0 0 45px #B3E9FF,0 0 100px #B3E9FF,0 -10px 100px #B3E9FF,0 0 45px #B3E9FF,0 0 100px #B3E9FF,0 -10px 100px #B3E9FF,0 -10px 100px #B3E9FF;
        }
}


#chat_meta {
        margin-top: 5px;
        margin-left: 20px;
        position: fixed;
}

#chat_name {
        height: 20px;
        width: 150px;
        margin-right: 10px;
        font-family: 'Helvetica',sans-serif;
        font-size: 16px;
}

#chat_start {
        background-color: #B3E9FF;
        font-size: 12px;
        font-family: 'Helvetica',sans-serif;
        padding: 5px;
        width: 40px;
        border: none;
}

#chat_log {
        background-color: none;
        margin: 0;
        position: fixed;
        top: 40px;
        overflow-y: scroll;
        font-family: 'Helvetica',sans-serif;
        font-size: 36px;
        font-weight: 100;
}

#chat_log ul {
        list-style: none;
        padding: 0;
        margin: 0;
}

form {
        background: none;
        position: fixed;
        bottom: 10px;
        right: 5px;
        padding: 0;
}

fieldset {
        border: none;
}

#chat_input {
        height: 20px;
        width: 100%;
        top: 0;
        left: 0;
        right: 5px;
        font-size: 16px;
        font-family: 'Helvetica',sans-serif;
}

#send {
        background-color: #B3E9FF;
        font-size: 12px;
        font-family: 'Helvetica',sans-serif;
        text-align: center;
        padding: 5px;
        right: 5px;
        width: 40px;
        border: none;
}